.hero__content {
    gap: 1.5rem;
    padding: 4rem 2rem;
}
.hero__title {
    font-size: 3rem;
    font-weight: normal;
}
.hero__description {
    font-size: 1.5rem;
    font-weight: 400;
}

#trending-movies-section {
    background: var(--dark-color);
    padding: 0 2rem;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
#trending-movies-section h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
