@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,wght,GRAD@0,8..144,50..150,100..900,-50..100;1,8..144,50..150,100..900,-50..100&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

li {
    list-style-type: none;
}

.click {
    cursor: pointer;
}

.no-click {
    cursor: not-allowed;
}

.btn {
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
}

.btn-primary {
    background-color: white;
    color: #09084a;
}

input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    width: 100%;
    outline: none;
}

select {
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border-color: #09084a;
}

.movie-bg {
    background-image: url(./assets/movie-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay::after {
    content: "";
    position: absolute;
    background-color: #09084a;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.text-primary {
    color: #09084a;
}

.text-white {
    color: white;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.divider-line {
    height: 0.5px;
    background-color: white;  
    width: 100%;
    opacity: 0.25;
}

/*

    NAVIGATION

*/

.nav__logo--wrapper {
    width: 10rem;
}
.nav__logo--img {
    width: 100%;
}

.nav__link--list {
    display: flex;
    gap: 40px;
}
.nav__link {
    text-decoration: none;
}

/*

    HEADER

*/

#header-section {
    position: relative;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    padding-bottom: 70px;
}

.header__title {
    color: white;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}

.header__form {
    max-width: 600px;
    width: 100%;
}

.header__input {
    font-size: 24px;
    padding: 20px 40px;
    border-radius: 35px;
}

/*

    MOVIE SECTION

*/

#movies-section {
    min-height: 100vh;
}

.movies__container {
    padding: 40px;
}

.movies__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.movies__results--label {
    font-size: 2rem;
    font-weight: bold;
}

.movies__list {
    display: flex;
    flex-wrap: wrap;
}

.movie__wrapper {
    width: 25%;
}

.movie__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie__img {
    width: 100%;
}

.movie__title {
    text-align: center;
}

/*

    FOOTER

*/

footer {
    background-color: #09084a;
}

.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
}

.footer__divider-line {
    margin: 40px 0;
}

/*

    RESPONSIVENESS

*/

/* Laptops */
@media (max-width: 1024px) {
    .movies__list {
        flex-wrap: wrap;
    }

    .movie__wrapper {
        width: calc(100% / 3);
    }
}

/* Tablets */
@media (max-width: 768px) {
    .header__title {
        font-size: 2.5rem;
    }

    .header__input {
        font-size: 18px;
        padding: 15px 30px;
    }

    .movie__wrapper {
        width: 50%;
    }

    .movies__filter {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .nav__link--list {
        display: none;
    }

    .movie__wrapper {
        width: 100%;
    }
}