.btn {
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.btn-light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.btn-dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-link,
.btn-link:hover {
    text-decoration: none;
}